<p>podcasts works!</p>
<p>{{appName}}</p>
<p>{{appVersion}}</p>
<ul>
    <li *ngFor="let category of podcastCategories">
        {{category}}
    </li>
</ul>

<p>{{author.name}} </p>
<p>{{author.github}} </p>
<p>{{author.avatar}} </p>